<div class="cart-drawer__overlay" data-cart-overlay>
  <div class="cart-drawer" data-cart-drawer>
    <div class="loading-icon">
      <div class="loading-icon__animation"></div>
    </div>
  </div>
</div>
