{% include 'include-rich-text' %}

{% schema %}
{
  "name": "Rich text",
  "class": "headline-section featured-content-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "wide_display",
      "default": true,
      "label": "Wide display"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Logo"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Talk about your brand"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Text",
      "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
    },
    {
      "type": "select",
      "id": "text_size",
      "label": "Text size",
      "options": [
        {
          "value": "regular_text",
          "label": "Regular"
        },
        {
          "value": "featured_text",
          "label": "Large"
        }
      ],
      "default": "featured_text"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Link label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Link"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "rgba(0,0,0,0)"
    }
  ],
  "presets": [
    {
      "name": "Rich text",
      "category": "Text"
    }
  ]
}

{% endschema %}